$color-primary-main:#363636;
$color-primary-main--hero:#2A2A2A;
$color-primary-main--hover:#4F4F4F;

$color-secondary-green:#00FF6B;
$color-secondary-black:#3B3B3B;
$color-primary-text:#D0D0D0;
$color-secondary-text:#F9F9F9;

$color-form-bg:#3B3B3B;
$color-form-input-bg:#494949;