@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  background-color: #363636;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #F9F9F9;
  font-size: 1.5rem;
  line-height: 1.7;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.u-margin-bottom-big {
  margin-bottom: 4.5rem;
}

.u-margin-top-small {
  margin-top: 1rem;
}

.u-margin-top-medium {
  margin-top: 2rem;
}

.u-margin-top-big {
  margin-top: 4.5rem;
}

.u-margin-left-small {
  margin-left: 1rem;
}

.u-margin-left-medium {
  margin-left: 2rem;
}

.u-margin-left-big {
  margin-left: 3rem;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  position: relative;
}

.hero__head {
  text-transform: uppercase;
  font-size: 6rem;
  color: #F9F9F9;
  line-height: 1.5;
}

.hero__sub-head {
  color: #00FF6B;
  font-size: 2rem;
  font-weight: 400;
}

.hero .text--dot {
  color: #00FF6B;
}

.blog__category {
  font-weight: 400;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid #00FF6B;
  margin-bottom: 2rem;
}

.blog__head {
  color: #00FF6B;
  font-size: 2rem;
  font-weight: 400;
}

.blog__content {
  color: inherit;
}

.navigation {
  background-color: #2A2A2A;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
}

.navigation--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
}

.nav :not(:last-child) {
  margin-right: 2rem;
}

.nav__logo {
  display: block;
  height: 3.5rem;
  width: auto;
  margin-right: auto;
}

.nav__links, .nav__social {
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__links :not(:last-child), .nav__social :not(:last-child) {
  margin-right: 2rem;
}

.nav__items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5rem 1rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.nav__items a {
  height: 100%;
  display: block;
}

.nav__items:hover, .nav__items:focus {
  color: #00FF6B;
  border-bottom: 2px solid #00FF6B;
}

.nav__items--social:hover a .icon--social,
.nav__items--social:focus a .icon--social {
  fill: #00FF6B;
}

.git__icon, .git-repo--icon {
  height: 1.8rem;
}

.icon--social {
  fill: #F9F9F9;
}

.hero {
  background-color: #2A2A2A;
  padding: 15rem 0 6rem 0;
}

.hero--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.hero__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.hero__img img {
  width: 100%;
  height: auto;
}

.hero--article {
  display: block;
  content: "";
  min-height: 40rem;
  height: 50rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2A2A2A), to(transparent)), url("/assets/test-post.png");
  background-image: linear-gradient(to top, #2A2A2A, transparent), url("/assets/test-post.png");
  background-size: cover;
}

.btn {
  color: #00FF6B;
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.btn--back {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn--back-ico {
  width: 2.5rem;
  margin-right: 1rem;
}

.btn--back:hover, .btn--back:focus {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.btn--submit {
  background-color: #00FF6B;
  color: #494949;
  padding: .9rem 3.5rem;
}

.main {
  padding: 7rem 0;
}

.article {
  padding: 7rem 0;
}

.article__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__main {
  background-color: #3B3B3B;
  width: 70%;
  padding: 2rem 3rem;
}

.article__title, .article__content {
  text-transform: capitalize;
}

.article__title {
  color: #00FF6B;
  font-size: 3rem;
  line-height: 1.5;
}

.article__content {
  margin-top: 2rem;
}

.article__date {
  color: rgba(0, 255, 107, 0.7);
  font-size: 1.3rem;
}
/*# sourceMappingURL=view.css.map */