.hero{
    background-color: $color-primary-main--hero;
    padding: 15rem 0 6rem 0;
    &--container{
        display: flex;
        align-items: center;
        justify-content:space-around;
    }
    &__text{
        flex: 0 0 50%;
    }
    &__img{
        flex: 0 0 30%;
        img{
            width: 100%;
            height: auto;
        }
    }
    &--article{
        display: block;
        content: "";
        min-height: 40rem;
        height: 50rem;
        background-image:linear-gradient(to top,$color-primary-main--hero,transparent),
                        url('/assets/test-post.png');
        background-size: cover;
    }
}